<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net472" />
  <package id="Dapper" version="2.1.66" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.10" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="QRCoder" version="1.7.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.10" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.10" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="9.0.10" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="9.0.10" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="Unimake.Cryptography" version="20250912.1810.37" targetFramework="net472" />
  <package id="Unimake.DFe" version="20251106.1829.56" targetFramework="net472" />
  <package id="Unimake.Extensions" version="20250912.1810.37" targetFramework="net472" />
  <package id="Unimake.Security.Platform" version="20230706.1027.33" targetFramework="net472" />
  <package id="Unimake.Unidanfe" version="20251029.1843.31" targetFramework="net472" />
  <package id="Unimake.Utils" version="20250912.1810.37" targetFramework="net472" />
</packages>