<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="nascomercio" connectionString="Data Source=127.0.1.1;Database=nascomercio;User ID=root;Password=15mysql;persist security info=True" />
    <add name="nascomercio.My.MySettings.ConnectionString" connectionString="Dsn=nascomercio_ODBC" providerName="System.Data.Odbc" />
    <add name="nascomercio.My.MySettings.nascomercioConnectionString" connectionString="server=127.0.1.1; port=3306; database=nascomercio; user id=root; password=15mysql; pooling=false" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FISCAL" value="ONLINE" />
    <add key="LABEL_DEBITO" value="Cartão" />
    <add key="LABEL_CREDITO" value="Cartão" />
    <add key="CUPOM" value="LAZ" /> 
    <add key="CORTAR_PAPEL" value="NAO" />
    <add key="ETIQUETA" value="USB1" />
    <add key="SEGUNDA_VIA" value="NAO" />
    <add key="ORDEM_SERVIÇO" value="NAO" />
    <add key="TIPO_TERMINAL" value="CAIXA" /> 
    <add key="NOME_TERMINAL" value="CAIXA 01" />
    <add key="DIRETORIO_FOTO" value="c:\nascomercio\fotos" />
    <add key="BD_USUARIO" value="root" />
    <add key="BD_SENHA" value="15mysql" />
    <add key="BD_NOMEBANCO" value="nascomercio" />
    <add key="BD_APLICATIVO" value="C:\Arquivos de programas\MySQL\MySQL Server 5.1\bin\" />
    <add key="nascomercioMail" value="nascomerciomail@gmail.com" />
    <add key="nascomercioPass" value="svmnjitporjcqgqp" />
    <add key="perfilGestor" value="ADMINISTRADOR" />
    <add key="exibirRelsExcecao" value="SIM" />
    <add key="pathPIX" value="C:\nascomercio\PIX" />
    <add key="Banco" value="MercadoPago" />
    <add key="pathRelatorio" value="C:\nascomercio\" />
    <add key="CertificadoArquivo" value="C:\\cert\\xavier.pfx" />
    <add key="CertificadoSenha" value="831552" />
    <add key="TipoAmbiente" value="2" />
    <add key="UsaCertificadoDigital" value="1" />
    <add key="CSC" value="d46fa1c1-2a0f-4d56-9f43-4bfb9bbbea72" />
    <add key="CSCIDToken" value="1" />
    <add key="SchemaVersao" value="4.00" />
    <add key="VersaoConfiguracao" value="4.00" />
    <add key="CNPJ" value="36650283000164" />
    <add key="clientID" value="1030" />
    <add key="Cliente" value="Sapatek" />
    <add key="Loja" value="matriz" />
    <add key="bucketName" value="nascombackup" />
    <add key="directoryBackupPath" value="C:\\nascomercio\\backup\\" />
    <add key="BACKUPAUTOMATICO" value="SIM" />
  </appSettings>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
