<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="nascomercio" connectionString="Data Source=localhost;Database=nascomercio;User ID=root;Password=15mysql;persist security info=True" />
    <add name="nascomercio.My.MySettings.ConnectionString" connectionString="Dsn=nascomercio_ODBC" providerName="System.Data.Odbc" />
    <add name="nascomercio.My.MySettings.nascomercioConnectionString" connectionString="server=localhost; port=3306; database=nascomercio; user id=root; password=15mysql; pooling=false"  providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="FISCAL" value="SIM"/>
    <add key="LABEL_DEBITO" value="Cartão"/>
    <add key="LABEL_CREDITO" value="Cartão"/>
    <add key="CUPOM" value="LAZ"/> 
    <add key="CORTAR_PAPEL" value="NAO"/>
    <add key="ETIQUETA" value="USB1"/>
    <add key="SEGUNDA_VIA" value="NAO"/>
    <add key="ORDEM_SERVIÇO" value="NAO"/>
    <add key="TIPO_TERMINAL" value="CAIXA"/> 
    <add key="NOME_TERMINAL" value="CAIXA 01"/>
    <add key="DIRETORIO_FOTO" value="c:\nascomercio\fotos"/>
    <add key="BD_USUARIO" value="root"/>
    <add key="BD_SENHA" value="15mysql"/>
    <add key="BD_NOMEBANCO" value="nascomercio"/>
    <add key="BD_APLICATIVO" value="C:\Arquivos de programas\MySQL\MySQL Server 5.1\bin\"/>
    <add key="nascomercioMail" value="nascomerciomail@gmail.com" />
    <add key="nascomercioPass" value="svmnjitporjcqgqp"/>
    <add key="perfilGestor" value="ADMINISTRADOR"/>
    <add key="pathPIX" value="C:\nascomercio\PIX"/>
    <add key="Banco" value="MercadoPago"/>
    <add key="pathRelatorio" value="C:\nascomercio\"/>
  </appSettings>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
